.doing-section {
  /* width: 1600px; */
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 94px;
}
.doing-section .container {
  display: flex;
}
.doing-list {
  display: flex;
}
.doing-list-item:not(:last-child) {
  margin-right: 30px;
}
.doing-list-item {
  position: relative;
}
.doing-wrapper-label {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.doing-wrapper {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
