.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.logo-item {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-container {
  margin-bottom: 20px;
}
.footer .logo {
  display: block;
  color: #ffffff;
}
